body {
    background: #0c0119;
    color: #eee6fa;
    font-size: 18px;
}

a:hover{
    color: #ffe486;
    color: #cc805a;
}

#moon-container{
    height: 500px;
    position: relative;
    width: 500px;
    margin:  0px auto;
}

/*the Javascript used to draw the moon always leaves a 1px border
 that is extremely noticeable on the dark portion
 this is just a div that is layed over the moon to cover it*/
#moon-fix{
    background: transparent;
    border:2px solid #0c0119 !important;
    border-radius: 300px;
    height: 498px;
    left: 0px;
    position: absolute;
    top: 0;
    width: 498px;
    z-index: 1;
}

.stars {
    background-image: 
      radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
    width: 100%;
    height:  100%;
  }

#moon-container div{

}

.moon{
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

#moon{
    background: white;
}

#moon-black{
    background: pink;
}